/* CSS Document */
body {
  padding-top: 90px;
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
}
.navbar {
	min-height: 70px;
	padding: 20px 0;
	background: #000;
	border-bottom:none;
}

.navbar-brand {
	width:100%;
	max-width: 216px;
	padding: 4px 0 0;
	margin-left: 0 !important;
}

.navbar-brand img {
	width:100%;
}

.services.section-one .service-each {
	border:none;
	box-shadow:none;
}

.jumbotron {
	border:none;
	padding-top: 80px;
	padding-bottom: 60px;
	border-radius: 0 !important;
	background: transparent url(../images/hero-cover.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	margin-bottom: 0;
}

.jumbotron p {
	font-size: 25px;
	max-width: 80%;
	margin: 30px auto 20px;
}

.navbar-default .navbar-nav>li>a {
	color:#4ab0e3;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #54c0ac;
	background: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #54c0ac;
}
.user-nav i {
	margin-right:5px;
}
.user-nav > a:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background: #fff;
    left: 0px;
}
.searchbox {
	padding: 10px 25px;
	background: #fff;
	width: 80%;
	margin: 0 auto 80px;
	border-radius: 5px;
}

.searchbox input{
	width: 80%;
    border: none;
    box-shadow: none;
    padding: 8px 20px;
    height: auto;
    font-size: 20px;
}

.searchbox input:focus{
    border: none;
    box-shadow: none;
}

.searchbox button {
	background: #4ab0e3;
	border: #4ab0e3;
	text-transform: uppercase;
	  box-shadow: inset 0 0 0 0 #D80286 !important;
	  -webkit-transition: ease-out 0.5s;
	  -moz-transition: ease-out 0.5s;
	  transition: ease-out 0.5s;
}

.searchbox button:hover, .searchbox button:focus {
	background: #54c0ac;
	border: #54c0ac;
	box-shadow: inset 400px 0 0 0 #D80286 !important;
}

.searchbox i {
	color: #888;
	font-size:25px;
	margin-top: 10px;
}

.services h2 {
	margin-top:30px;
	margin-bottom: 30px;
}

.service-each {
	border:1px solid #cdcdcd;
	-webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
	margin-bottom: 20px;
}

.services.section-one {
	border:none;
	box-shadow: none;
}

.services.section-one span {
	border-top:none;
	text-align:center;
	padding: 0 0 15px;
	font-size: 12px;
}

.page-two h1 {
	margin-top: 0;
}

.page-two .nexpool-form {
	margin-top: 30px;
	padding-top: 30px;
}

.services.section-one .service-each h2 {
	margin: 10px 0;
	font-weight: bold;
	font-size: 16px;
}

.service-each img {
	height: 210px;
	width:100%;
}

.service-each span {
	display:block;
	text-align:left;
	padding: 15px;
	font-size:16px;
	border-top: 1px solid #ececec;
}

.services {
	border-bottom: 1px solid #ececec;
	padding-bottom:30px;
}

.media {
	padding:15px;
	min-height: 150px;
}

.col-left {
	border-right:1px solid #cdcdcd;
}

.border-top {
	border-top:1px solid #cdcdcd;
	padding-top: 5px;
}

.btn-toggle.form-control {
	border:none;
	box-shadow:none;
	padding-left:0;
}

button, button:hover, button:focus {
	outline:none !important;
	box-shadow:none !important;
}

.bottom-section {
	border-top:1px solid #cdcdcd;
	padding-top:10px;
}

.bottom-section .form-inline .form-group {
	width:100%;
	margin-bottom: 15px;
}

.boarding-form {
	padding-bottom:50px;
}

.btn-submit {
	background: #4ab0e3;
    border: #4ab0e3;
	text-transform: uppercase;
}

.btn-submit:hover, .btn-submit:focus {
    background: #54c0ac;
    border: #54c0ac;
}
.page-heading {
	margin-top:30px;
	margin-bottom: 30px;
}

.nexpool-form {
	padding: 66px 130px;
    border: 1px solid #cdcdcd;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.boarding-form.page-two .form-control {
	border-radius: 3px;
}

.boarding-form.page-two label {
	color: #337AB7;
}

.entry-form h1.page-heading {
	margin-bottom: 10px;
}

.sub-head p {
	font-size: 17px;
}

.data-left {
	border-right: 1px solid #cdcdcd;
}

.code-area {
	padding-right:30px;
}

.code-area pre {
	border-radius:0;
	max-height: 250px;
	overflow: auto;
}

.separator {
	text-transform: uppercase;
	text-align:center;
	font-size:17px;
	position:relative;
}
.separator:before {
	position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: 45%;
    background: #cdcdcd;
    height: 1px;
    transform: translate3d(0, 0, -50%);
    border: none;
    box-shadow: none;
}
.separator:after {
	position: absolute;
    content: '';
    right: 0;
    top: 50%;
    width: 45%;
    background: #cdcdcd;
    height: 1px;
    transform: translate3d(0, 0, -50%);
    border: none;
    box-shadow: none;
}

.input-group-addon {
	padding:0;
	background: #4ab0e3;
	border: #4ab0e3;
	color:#fff;
}

.final-stats {
	margin-top:15px;
}

.circular-progress-bar {
	margin-top:-20px !important;
}

.final-stats span {
	display:block;
	padding-left:20px;
	font-weight:bold;
}

.primary-figure {
    font-weight: lighter;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 5px;
	margin-top: 20px;
	color:#54c0ac;
}

.input-group-addon:hover {
	padding:0;
	background: #54c0ac;
	border: #54c0ac;
	color:#fff;
}
.input-group-addon button {
	width:100%;
	padding: 6px 12px;
	border: none;
	background: transparent;
	text-transform: uppercase;
	font-weight:bold;
}
.entry-form h2.page-heading {
	margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px
}

.entry-page {
	padding-bottom: 100px;
}

.entry-page label {
	color: #337AB7;
}

.page-three {
	padding: 30px 130px 66px;
    border: 1px solid #cdcdcd;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
    box-sizing: border-box;
	margin-top:30px;
}

.page-three h1 {
	margin-top:0;
}


.user-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #54c0ac; 
	color: #fff;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.profile-page {
	padding: 30px 15px; 
}

.profile-page .form-horizontal label {
	text-align: left;
}

.box {
	border: 1px solid #cdcdcd;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding: 20px 20px 5px;
    margin-bottom: 20px;
}

.social-btns button {
	width: 100%;
	border:none;
}
.social-btns button.telegram {
	background: #0088cc;
}
.social-btns button.email {
    background: #dd4b39;
}
.social-btns button.facebook {
    background: #3b5998;
}
.social-btns button span {
	font-size: 17px;
    font-weight: lighter;
    margin-left: 4px;
}

.social-btns button i {
	font-size: 17px;
}

.profile-completion h1 {
    margin: 0;
    font-size: 18px; 
	font-weight:bold;
}

.profile-completion p {
    margin: 15px 0 30px; 
}

.progress-bar {
	box-shadow: none;
	background-color: #54c0ac; 
}

.progress {
	margin-bottom: 50px;
}

.controls h1 {
    margin: 0 0 15px;
    font-size: 18px;
}

.total-box {
	border:1px solid #cdcdcd;
	padding: 20px;
	margin-bottom: 25px;
	box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
	background:#cdcdcd;
}

.max-box {
	border:1px solid #cdcdcd;
	padding: 10px;
	margin-bottom: 25px;
	box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
}

.min-box {
	border:1px solid #cdcdcd;
	padding: 10px;
	margin-bottom: 25px;
	box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
}

.total-box label {
	font-weight: normal;
	font-size: 11px;
	color: #888 !important;
	text-transform: uppercase;
}

.total-box span {
	display: block;
	font-weight: bolder;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 20px;
}

.inline-items label {
	display: inline-block;
	text-transform: capitalize;
	margin-bottom: 0;
}

.inline-items span {
	display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-left: 4px;
    margin-bottom: 3px;
}

.inline-items .tag-icon {
	color: #888;
	transform: rotate(90deg);
}

.inline-items .progress {
	margin-bottom: 0;
}

.total-box .form-group {
	margin-bottom: 5px;
}
.progress-label {
	color: #888;
	margin-top: 10px;
	margin-bottom: 5px !important;
}
.progress-label strong{
	color: #000;
}

.on-lined {
	margin: 15px 0;
}

.on-lined .col-sm-6 {
	margin-bottom: 5px;
}

.poor-value span {
	font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.max-box, .min-box {
	position:relative;
}

.max-box {
	background: #54c0ac;
}

.min-box {
	background: #4ab0e3;
}

.min-box .top-icon {
	background: #fab94d;
}

.max-box .top-icon {
	background: #f7555e;
}

.profile-page textarea {
	min-height: 372px;
}

.max-box h3, .min-box h3 {
	margin:0;
	font-size:16px;
	text-align: right;
    font-weight: bolder;
	color:#fff;
}

.top-icon {
	position: absolute;
	top: -8px;
    left: 12px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items:center;
	-webkit-box-shadow: 2px 2px 5.9px -1px rgba(0,0,0,1);
	-moz-box-shadow: 2px 2px 5.9px -1px rgba(0,0,0,1);
	box-shadow: 2px 2px 5.9px -1px rgba(0,0,0,1);
}

.top-icon i {
	width: 100%;
	text-align: center;
	font-size: 20px;
	color:#fff;
}

.real-figures span {
	display:block;
	width: 100%;
	text-align: right;
	font-size: 15px;
	color: #fff;
	font-weight:bold;
}

.real-figures {
	padding: 30px 0;
}

.max-box .progress-bar, .min-box .progress-bar {
	background: #ee5649;
}

.max-box .progress-label, .min-box .progress-label {
	margin-top: 3px;
	color: #fff;
}
.max-box .progress-label strong, .min-box .progress-label strong {
	color: #fff;
}

.table-heading {
	margin:0 0 6px;
	font-size: 18px;
	font-weight: bold;
}

.table-container, .pagination>li>a, .pagination>li>span {
	background: #ececec;
}

.pagination {
	margin-top:0;
}

.pagination .active a {
	background: #4ab0e3;
	border-color: #4ab0e3;
}

.pagination .active a:hover {
	background: #54c0ac;
	border-color: #54c0ac;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.custom-toggle-holder > label{
	margin-top: 9px;
	margin-right: 9px;
}

.custom-toggle {
	display: flex;
}

.fee-calculator span {
	display: inline-block;
	font-size:20px;
	margin-left:3px;
	margin-top: 2px;
}

.fee-calculator {
	margin-bottom:30px;
}

.host-fee {
	position: relative;
}

.host-fee:after {
	position: absolute;
	content:'+';
    top: -5px;
    right: 15px;
    font-size: 30px;
	color:#54c0ac;
}

.platform-fee {
	position: relative;
}

.platform-fee:after {
	position: absolute;
	content:'=';
    top: -5px;
    right: 15px;
    font-size: 30px;
	color:#54c0ac;
}

.fee-calculator .form-control {
	width:80%;
	float: left !important
}

.fee-calculator label {
	width:100%;
}


.custom-toggle input:checked + .slider {
  background-color: #54c0ac;
}

.custom-toggle input:focus + .slider {
  box-shadow: 0 0 1px #54c0ac;
}

.custom-toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.min-contribution {
	margin-top:20px;
}

.min-contribution span {
	display: inline-block;
	text-transform: uppercase;
	font-weight:bold;
}

.min-contribution span:last-child {
	font-size:20px;
	color:#54c0ac;
}

.stats-bottom {
	border-top:1px solid #cdcdcd;
	padding-top: 15px;
	margin-top:15px
}

.my-contribution span {
    text-transform: uppercase;
    font-weight: bold;
	display:block;
	text-align:center
}

.my-contribution span:last-child {
	font-size: 20px;
    color: #54c0ac;
	line-height: 1;
    margin-top: 5px;
}

.my-contribution {
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    width: 80%;
    margin: 23px auto 10px;
    box-sizing: border-box;
    padding: 14px 7px;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 2px solid #fff;
}

.table-responsive table tbody tr:nth-child(odd) {
	background: #FFF
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.code-block {
	position:relative;
}

.code-block .input-group-addon {
	position: absolute;
    right: 0;
    bottom: 1px;
    z-index: 1;
    width: auto;
}

.page-three .data-right .btn-submit {
	width:100%;
}

.main-fields input {
	padding-top: 24px;
    padding-bottom: 24px;
}

.main-fields .input-group-addon {
	padding-left: 15px;
    padding-right: 15px;
}

.profile-page label {
	color: #337AB7;
}


/*FOOTER*/

footer { background-color:#0c1a1e; font-family: 'Open Sans', sans-serif; padding-bottom:20px;}
.footerleft { margin-top:30px; padding:0 57px 0 15px; }
.logofooter { margin-bottom:10px;}
.logofooter img {width:68%;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:30px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#54c0ac; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;margin-top:0;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
 
 
 /********** Circular progress Bar **********/

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}


@media only screen and (max-width: 1024px) and (min-width: 768px) { 
	.page-two .nexpool-form {
		padding: 30px 45px 66px;
	}
	.page-three {
		padding: 30px 45px 66px;
	}
}

@media only screen and (max-width: 767px) { 
	.searchbox button {
		width:100%;
	}

	.navbar-brand {
		margin-left: 15px !important;
	}
	.jumbotron p {
		font-size: 18px;
		max-width: 100%;
	}
	.nexpool-form {
		padding:14px;
	}
	.col-left {
		border-right:none;
	}
	.dropdown-content {
	    display: block;
	    position: relative;
	    background: transparent;
	}
	.dropdown-content a {
	    color: #4ab0e3;
    	padding: 4px 16px;
    	text-indent: 2em;
	}
	.searchbox {
		width:100%;
		margin-bottom:50px;
	}
	.searchbox input {
		font-size:16px;
	}
	.jumbotron {
		padding-top: 30px;
    	padding-bottom: 0px;
	}
	.data-left {
    	border-right:none;
	}
	.code-area {
    	padding-right: 0;
	}
	
	.platform-fee {
		margin-top:50px;
		margin-bottom:50px;
	}
	
	.host-fee:after, .platform-fee:after {
		top:unset;
		right: 50%;
		transform:translate(-50%,0);
		bottom: -50px;
	}
	.boarding-form.page-two .btn-submit {
		width: 60%;
		margin: 0 auto;
		float: none !important;
		display: block;
	}
	
	.page-three {
		padding:20px 0 30px;
	}
	.circular-progress-bar {
		margin-top:20px !important;
	}
	
}